body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.input-label {
  font-weight: 600;
  margin-bottom: 20px;
}

#code {
  margin-left: 10px;
}

.container {
  width: fit-content;
  padding: 0px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.controls span{
  border: 1px solid #003865;
  color: #003865;
  padding: 5px 10px;
  border-radius: 10px;
}

.controls span:hover {
  cursor: pointer;
  border-color: orange;
  color: orange;
}

th:first-child {
  text-align: left;
}

td {
  width: 100px;
  padding: 0px 10px;
}